<!DOCTYPE html>
<html>
<head>
  <title>Waxtracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
</head>
<body style='background:#494949;'>
  
  <%= render 'layouts/navbar' %>

<div style='margin-top:70px;'class="container" style='text-align:center;'>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  
  <div class="row">
    <%= yield %>
  </div>







</div>
</body>
</html>
